{% extends "base.html" %}

{% block title %} Sign Up {% endblock %}

{% block content %} 

<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input
        type="text"
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter Email"
        />
        <br />
        <label for="email">Username</label>
        <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        placeholder="Enter Username"
        />
        <br />
        <label for="password">Password</label>
        <input
        type="password"
        id="password1"
        name="password1"
        class="form-control"
        placeholder="Enter Password"
        />
        <br />
        <label for="password">Password Confirm</label>
        <input
        type="password"
        id="password2"
        name="password2"
        class="form-control"
        placeholder="Enter Password Again"
        />
        <br />
        <label for="role_label">Role</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="role" id="student" value="Student" onclick="professorCheck()" checked>
            <label class="form-check-label" for="student">
              Student
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="role" id="professor" value="Professor" onclick="professorCheck()">
            <label class="form-check-label" for="professor">
              Professor
            </label>
        </div>
        <br />
        <div id="professor_token_div" style="display:none">
        <label for="professor_token">Professor Token (Optional)</label>
        <input
        type="password"
        id="professor_token"
        name="professor_token"
        class="form-control"
        placeholder="Enter Professor Token (Optional)"
        />
        </div>
        <br/>
        <div align="center"><button class="btn btn-primary" type="submit">Sign Up</button></div>        
    </div>
</form>

{% endblock %}
