{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %} 

{% if exercise %}

<h1 class="display-1" align="center">{{exercise.id}}. {{exercise.title}}</h1>
<p align="center">Description : {{exercise.description}} </p>

{% if exercise.countdown %}
<p id="countdown" align="center">Total Time : {{exercise.countdown}}</p>
{% endif %}

{% if exercise.description_file_data %}
<p id="description_file" align="center">Download Exercise Description : <a href="/exercise/description/{{exercise.id}}" target="_blank">{{exercise.description_file_name}}</a></p>
{% endif %}

<p class="fw-bold" align="center" id="count"></p>

<!-- <script type="text/javascript">
    onclick= 
    countdown('{{exercise.countdown}}');
</script> -->
<!-- <p align="center">Solution : {{exercise.solution}} </p> -->
<!-- {% for testcase in testcases %} 
<p align="center">Test Case : {{testcase.input}} - {{testcase.output}} </p>
{% endfor %}  -->
{% else %} 
<h1 class="display-1" align="center">Playground</h1>
{% endif %} 

<p align="center">Logged in as : {{user.username}} </p>

<div class="container">
    <div class="row">
        <div class="col border border-secondary rounded pt-3 m-3">    
            <form action="#" method="post">
                <div class="form-group">
                    <label for="code" class="mt-3 mb-2">Enter Code:</label>
                    {% if code %} 
                    <textarea id="code" class="form-control border border-secondary rounded" name="code" rows="10"> {{code}} </textarea>
                    {% else %} 
                    <textarea id="code" class="form-control border border-secondary rounded" name="code" rows="10"></textarea>
                    {% endif %} 

                </div>
                <div class="form-group">
                    <label for="stdin" class="mt-3 mb-2">Input:</label>
                    {% if stdin %} 
                    <textarea class="form-control" id="stdin" name="stdin" rows="5">{{stdin}}</textarea>
                    {% else %} 
                    <textarea class="form-control" id="stdin" name="stdin" rows="5"></textarea>
                    {% endif %} 
                </div>
                <div class="d-flex justify-content-center">
                    {% if exercise %} 
                    <button id="submit" type="submit" name="action" value="submit" onclick="return confirm('Are you sure?')" class="btn btn-primary m-3">Submit</button>
                    <input type ="submit" name="action" value="Test" class="btn btn-primary m-3">
                    {% endif %} 
                    <input type ="submit" name="action" value="Run" class="btn btn-primary m-3">
                    <button type="reset" value="reset" class="btn btn-primary m-3">Reset</button>
                </div>
            </form>
        </div>
        <div class="col d-flex justify-content-center border border-secondary rounded p-3 m-3">    
            <div class="h4" id="result_div">
                {% if testcase %}
                    <pre> Number of test cases passed : 
                        <pre class=" h4 bg-primary-subtle" align="center">{{testcase}} </pre>
                    </pre>           
                {% endif %}
                
                {% if output is not none %}
                    {% autoescape false %}
                        <pre>Output: </pre><pre>{{output['stdout']}}</pre>
                        <pre>Time Taken: <pre>{{ output['time'] }}</pre></pre>
                        <pre>Error: <pre>{{ output['stderr'] }}</pre></pre>
                        <pre>Status: <pre>{{ output['status']['description'] }}</pre></pre>
                    {% endautoescape %}                
                {% endif %}
                
            </div>
        </div>
    </div>

<script type="text/javascript">


</script>
{% endblock %}
