{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block content %} 

{% if user.professor_token != None %}

    <h1 class="display-1" align="center"> Exercises </h1>

{% for exercise in exercises %}
<div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center">
        <p class="lead">{{exercise.id}}. <a href="/exercise/{{exercise.id}}">{{exercise.title}}</a></p>
        <p class="lead">{{exercise.user.username}}</p>
        <div>
            {% if user.id == exercise.author %}

                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"> More
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/view-submissions/{{exercise.id}}" class="dropdown-item">View Submissions</a></li>
                        <li><a href="/delete-exercise/{{exercise.id}}" onclick="return confirm('Are you sure?')" class="dropdown-item">Delete</a></li>
                    </ul>
                </div>
            
            {% else %}
            {% endif %}
            
        </div>

    </div>
</div>
{% endfor %} 

{% else %}

<h1 class="display-1" align="center"> Exercises </h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Exercise</th>
        <th scope="col">Created By</th>
        <th scope="col">Start</th>
      </tr>
    </thead>
    <tbody>
        {% for exercise in exercises %}
    <tr>
    <th scope="row">{{loop.index}}</th>
    <td>{{exercise.title}}</td>
    <td>{{exercise.user.username}}</td>
    <td>
        <a href="/exercise/{{exercise.id}}"><button type="button" class="btn btn-primary">Start</button></a>
    </td>
    </tr>
{% endfor %}

</tbody>
</table>
  
{% endif %}

{% endblock %}
