{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block content %} 

{% if user.professor_token != None %}

<h1 class="display-1" align="center"> Create an Exercise </h1>

<form method="POST">
    <div class="form-group" id="exercisedetails">
        <label for="title">Title</label>
        <input
        type="text"
        id="title"
        required="true"
        name="title"
        class="form-control"
        placeholder="Enter Title"
        />
        <br />
        <label for="description">Description</label>
        <input
        type="text"
        id="description"
        required="true"
        name="description"
        class="form-control"
        placeholder="Enter Description"
        />
        <br />
        <label id="solutionlabel" style="display: none;" for="solution">Solution</label>
        <input
        type="solution"
        id="solution"
        name="solution"
        class="form-control"
        style="display: none;"
        placeholder="Enter Solution"
        />

        <label id="testcaselabel" style="display: none;" for="testcase">Test Cases</label>
        <div id="choicebuttons">

            <br />
                <div align="center">
                    <i id="solutionbutton" class="btn btn-secondary" onclick="singleSolution()">Add Single Solution</i>
                    <i id="testcasebutton" class="btn btn-secondary" onclick="testCase()">Add Test Case(s)</i>
                </div>       
            <br />
        </div>
        <div align="center"><button class="btn btn-primary" type="submit">Done</button></div>        
    </div>
</form>

{% else %}

<h1 class="display-1" align="center"> Exercises </h1>

{% for exercise in exercises %}
<div class="card border-dark">
    <div class="card-header">
        <p>{{exercise.id}}. <a href="/exercise/{{exercise.id}}">{{exercise.title}}</a></p>
    </div>
</div>
{% endfor %} 
{% endif %}

{% endblock %}

