{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block content %} 

{% if user.professor_token != None %}

<h1 class="display-1" align="center"> Exercises </h1>
<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Exercise</th>
        <th scope="col">Created By</th>
        <th scope="col">More</th>
        </tr>
    </thead>
    <tbody>
        {% for exercise in exercises %}
    <tr>
    <th scope="row">{{loop.index}}</th>
    <td>{{exercise.title}}</td>
    {% if user.id == exercise.author %}
    <td>You</td>
    <td>
        <div>
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> More
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/view-submissions/{{exercise.id}}" class="dropdown-item">View Submissions</a></li>
                    <li><a href="/exercise/{{exercise.id}}" class="dropdown-item">Start</a></li>
                    <li><a href="/delete-exercise/{{exercise.id}}" onclick="return confirm('Are you sure?')" class="dropdown-item">Delete</a></li>
                </ul>
            </div>
        </div>
    </td>

    {% else %}
    <td>{{exercise.user.username}}</td>
    <td>
        <a href="/exercise/{{exercise.id}}"><button type="button" class="btn btn-primary">Start</button></a>
    </td>
    {% endif %}            
    <!-- <a href="/exercise/{{exercise.id}}"><button type="button" class="btn btn-primary">Start</button></a> -->
    </tr>
    {% endfor %}

</tbody>
</table>

{% else %}

<h1 class="display-1" align="center"> Exercises </h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Exercise</th>
        <th scope="col">Created By</th>
        <th scope="col">Start</th>
        <th scope="col">More</th>
      </tr>
    </thead>
    <tbody>
        {% for exercise in exercises %}
    <tr>
    <th scope="row">{{loop.index}}</th>
    <td>{{exercise.title}}</td>
    <td>{{exercise.user.username}}</td>

    <td>
        <a href="/exercise/{{exercise.id}}"><button type="button" class="btn btn-primary">Start</button></a>
    </td>        
        
    <td>
        <div>
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"> More
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/feedback/{{user.id}}/{{exercise.id}}" class="dropdown-item">View Feedback</a></li>
                </ul>
            </div>
        </div>
    </td>
    
    </tr>
        {% endfor %}
</tbody>
</table>
  
{% endif %}

{% endblock %}
