{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block content %} 
{% if user.professor_token != None %}

<h1 class="display-1" align="center"> Professor Portal </h1>
<div align="center">
    <a href="/create-exercise"><button type="button" class="btn btn-primary btn-lg">Create an Exercise</button></a>
    <a href="/playground"><button type="button" class="btn btn-primary btn-lg">Go To Playground</button></a>
    <a href="/exercises"><button type="button" class="btn btn-primary btn-lg">View All Exercises</button></a>
</div>


{% else %}

<h1 class="display-1" align="center"> Student Portal </h1>
<br />
<div align="center">
    <a href="/exercises"><button type="button" class="btn btn-primary btn-lg">Go to Exercises</button></a>
</div>

{% endif %}

{% endblock %}

