{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block content %} 

{% if user.professor_token != None %}

<h1 class="display-1" align="center"> Submissions </h1>
<h6 class="display-6" align="center"> Exercise: {{exercise_name}} </h1>

<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Score</th>
      <th scope="col">Code</th>
      <th scope="col">Submitted At</th>
      <th scope="col">Feedback</th>
    </tr>
  </thead>
  <tbody>
{% for submission in submissions %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{submission.user.username}}</td>
      <td>{{submission.score}}
        <i id="like-button" onclick="like()" class="fa-solid fa-edit" data-bs-toggle="modal" data-bs-target="#updatescore-{{submission.id}}"></i>
            
            
            <!-- Update Modal -->
            <div class="modal fade" id="updatescore-{{submission.id}}" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form id="feedback-form"  action="/update-score/{{submission.id}}" method="post">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="feedbackForm">Update Score</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <input
                      type="text"
                      id="score"
                      name="score"
                      class="form-control"
                      placeholder="Enter Score"
                      />
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success">Submit</button>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Dismiss</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>


      </td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#submission{{submission.id}}">
          View Code
        </button>
        <!-- Modal -->
        <div class="modal fade" id="submission{{submission.id}}" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Code</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <code>{{submission.code}}</code>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Definition End -->
      </td>
      <td>{{submission.date_created}}</td>
      <td>
        {% if submission.feedback %}
          {{submission.feedback}}
        {% else %}
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#feedback-{{submission.id}}">
          Add Feedback
        </button>
        <!-- Add Modal -->
        <div class="modal fade" id="feedback-{{submission.id}}" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <form id="feedback-form"  action="/add-feedback/{{submission.id}}" method="post">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="feedbackForm">Feedback</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <input
                  type="text"
                  id="feedback"
                  name="feedback"
                  class="form-control"
                  placeholder="Enter Feedback"
                  />
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success">Submit</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Dismiss</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Add Modal Definition End -->
        {% endif %}
        <!-- Button trigger modal -->
        
        <!-- Update Modal -->
        {% if submission.feedback %}
          <i id="like-button" onclick="like()" class="fa-solid fa-edit" data-bs-toggle="modal" data-bs-target="#updatefeedback-{{submission.id}}"></i>
            
            
            <!-- Update Modal -->
            <div class="modal fade" id="updatefeedback-{{submission.id}}" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form id="feedback-form"  action="/update-feedback/{{submission.id}}" method="post">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="feedbackForm">Update Feedback</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <input
                      type="text"
                      id="feedback"
                      name="feedback"
                      class="form-control"
                      placeholder="Enter Feedback"
                      />
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success">Submit</button>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Dismiss</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        {% endif %}

      </td>
    </tr>
{% endfor %}

  </tbody>
</table>


{% endif %}

{% endblock %}

